<%-layout("/layout/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
      
      <!-- Title Field -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required />
        <div class="invalid-feedback">Write title properly</div>
      </div>

      <!-- Description Field -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
        <div class="invalid-feedback">Write description properly</div>
      </div>

      <!-- Original Image -->
      <div class="mb-3">
        <label>Original Image</label><br>
        <img src="<%= listing.image.url %>" alt="Current image" style="width: 200px;" />
      </div>

      <!-- Image Upload -->
      <div class="mb-3">
        <label for="image" class="form-label">Update Image</label>
        <input name="listing[image]" type="file" class="form-control"/>
      </div>

      <!-- Price Field -->
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required />
          <div class="invalid-feedback">Enter valid price</div>
        </div>

        <!-- Country Field -->
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required />
          <div class="invalid-feedback">Write country properly</div>
        </div>
      </div>

      <!-- Location Field -->
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required />
        <div class="invalid-feedback">Write location properly</div>
      </div>
      
      <div class="mb-3">
        <label for="category" class="form-label">Enter Category og you location:</label>
        <select class="form-control " name="listing[category]" required>
              <option value="Others" selected disabled>Select a category</option>
              <option class="dropdown-item" value="Trending">Trending</option>
              <option value="Bed">Rooms</option>
              <option value="City">Iconic Cities</option>
              <option value="Mountain">Mountains</option>
              <option value="Castle">Castles</option>
              <option value="swimming">Amazing Pools</option>
              <option value="Camping">Camping</option>
              <option value="Farms">Farms</option>
              <option value="Ship">Beach</option>
              <option value="domes">Others</option>
        </select>
  </div>

       <!-- submit buton -->
      <button class="btn btn-dark">Update Listing</button>
    </form>
  </div>
</div>
